*{
    box-sizing: border-box;
}
.flex-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.title{
    text-align: center;
    width: 100%;
}
.dia-container {
    align-items: center;
    border-right: 1px solid black;
    display: flex;
    height: calc(100vw / 7);
    justify-content: center;
    width: calc(100% / 7);
}
.dia-0 {
    border-left: 1px solid black;
}
/* #calendario > div:nth-last-child(1),{
    border-bottom: 1px solid black;
}
#calendario > div:nth-last-child(2){
    border-bottom: 1px solid black;
}
#calendario > div:nth-last-child(3),{
    border-bottom: 1px solid black;
}
#calendario > div:nth-last-child(4){
    border-bottom: 1px solid black;
}
#calendario > div:nth-last-child(5){
    border-bottom: 1px solid black;
}
#calendario > div:nth-last-child(6){
    border-bottom: 1px solid black;
}
#calendario > div:nth-last-child(7),{
    border-bottom: 1px solid black;
} */
#calendario > .linha{
    border-bottom: 1px solid black;
}
#calendario > .linha-0{
    border-top: 1px solid black;
}
#calendario{
    display: inline-block;
    width: 91vw;
}
.hoje{
    background-color: green;
}
#formulario{
    display: inline-block;
}
.linha{
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#overlay{
    background-color: #AAAAAA;
    display: none;
    height: 100vh;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100vw;
}
#formulario{
    align-items: center;
    background-color: #ffffff;
    display: none;
    flex-flow: column wrap;
    height: 50vh;
    justify-content: center;
    left: 25vw;
    position: absolute;
    opacity: 1;
    top: 25vh;
    width: 50vw;
}
#salvar:hover{
    opacity: 0.7;
}
#salvar:active{
    opacity: 0.5;
}